h1 {
  text-align: center;
  font-size: 30;
}

table {
  width: 100%;
}

h2 {
  font-size: 18;
  text-align: center;
}

body {
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFf27pwniq_HCSLdYhOZdfZRVzo46SLjMAO_Y6rkYsmtJsVa5aVw") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

p {
  font-size: 14;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
